h1 {
    color: brown; 
}

* {
    border: solid;
}

.header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.intro {
    background-color: chocolate;
    display: flex;
    justify-content: space-around;
}

.menu {
    background-color: yellow;
    display: flex;
    align-items: center;
    padding: 5px;
}

.grid {
    background-color: violet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    background-color: wheat;
    display: flex;
    justify-content: flex-end;
}

.pro {
    text-align: center;
    background-color: crimson;
}

.body {
    background-color : lime;
}
@media(max-width:830px){
    .intro{
        flex-direction: column;
        padding: 10px;
    }
}